button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: $primary;
	color: $light;
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: none;
	}

	&:active,
	&:focus {
        border: none;
        outline: none;
	}
}
.wp-block-button{
	.wp-block-button__link{
		background: $primary;
		border-color: $primary !important;
		border-radius: 3px;
		font-weight: 600;
	}
}
.is-style-outline{
	.wp-block-button__link{
		color: $primary !important;
	}
}
// .wp-block-button{
// 	.is-style-outline{
// 		border-color: $primary !important;
// 	}

// }
