.widget {
    & {
        padding-bottom: 0;
        padding-right: 0;
        padding-top: 3rem;
        padding-left: 3rem;
    }

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}
