.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.2em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

article {
    .card-body {
        padding: 2rem;
    }
  .footer-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $accent;
    margin-top: 16px;
    padding-top: 16px;
    font-size: 0.8rem;
    font-weight: 600;
    .post-date-author {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          object-fit: cover;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          margin-right: 8px;
        }
        .author {
            * {
                display: block;
            }
        }
    }
  }
}
